DB_HOST=postgres
DB_NAME=movies_db
DB_USER=app
DB_PASSWORD=123qwe
DB_PORT=5432

POSTGRES_DB=movies_db
POSTGRES_USER=app
POSTGRES_PASSWORD=123qwe
POSTGRES_PORT=5432
SQL_PATH=db.sqlite

ELASTIC_ADDRESS=http://elasticsearch:9200
API_ELASTIC__HOST=elasticsearch
API_ELASTIC__PORT=9200
ELASTIC_ID_FIELD=id
ETL_SLEEP=10.0
BATCH_SIZE=50

CACHE__ADDRESS=http://redis:6379
API_CACHE__HOST=redis
API_CACHE__PORT=6379
API_CACHE__EXP=300

SERVICE_ADDRESS=http://fastapi:8000

PROJECT_NAME=movie_project

API_CFG__LOG_LEVEL=INFO